.footer {
    background-color: rgb(163, 222, 240);
    height: 6em;
    border-bottom: 2px solid rgb(116, 49, 116);
    border-top: 2px solid rgb(116, 49, 116);
    color: rgb(196, 104, 196);
    text-align: center;
    font-size: 1em;
    font-style: italic;    
    bottom: 0;
    width: 100%;
   
}

.container {
    margin-top: 10px;
}

#logoFooter {
    position: static;
    left: 10px;
    top: 20px;
    width: 8%;
    height: 6vh;
}