.errorPage {
    width: 83%;
    height: 331px;
    display: inline-block;
    vertical-align: top;
}

.errorPage img {
    margin-top: 50px;
    width: 250px;
    display: inherit;
}

.errorText {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 15px;
    color: rgb(138, 80, 185);
}